<%= form_for(bath) do |f| %>
  <% if bath.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bath.errors.count, "error") %> prohibited this bath from being saved:</h2>

      <ul>
      <% bath.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day_id %>
    <%= f.text_field :day_id %>
  </div>

  <div class="field">
    <%= f.label :bath %>
    <%= f.check_box :bath %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
