<%= form_for(diaper) do |f| %>
  <% if diaper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diaper.errors.count, "error") %> prohibited this diaper from being saved:</h2>

      <ul>
      <% diaper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day_id %>
    <%= f.text_field :day_id %>
  </div>

  <div class="field">
    <%= f.label :diaper_type %>
    <%= f.text_field :diaper_type %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
