<hr/>
<h3>Todays Feedings AH HA HA!</h3>
  <% @feedings.each do |feeding| %>
    <p><%= feeding.day_id %></p>
    <p><%= feeding.feeding_time %></p>
    <p><%= feeding.left %></p>
    <p><%= feeding.right %></p>
    <p><%= feeding.minutes %></p>
    <p><%= feeding.feeding_type %></p>
    <p><%= feeding.feeding_amount %></p>
    <p><%= feeding.notes %></p>
  <% end %>
<hr/>
