<%= simple_form_for @day do |d| %>
  <% if day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>
      <ul>
        <% day.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= d.input :week, label: "Change the week", as: :integer %>
  </div>

  <div class="field">
    <%= d.input :date, label: "Change the date", as: :datetime %>
  </div>

  <div class="field">
    <%= d.input :notes, label: "Notes about today", as: :text %>
  </div>


<!-- Baths -->

  <%= d.simple_fields_for :baths do |b| %>
    <%= b.input :bath, label: "Did Max have a bath today?", as: :boolean %>
    <%= b.input :notes, label: "Notes about bathtime", as: :text %>
  <% end %>

<!-- End Baths -->

  <div class="actions">
    <%= d.button :submit, "Update" %>
  </div>
<% end %>
