<h1>It's a New Day</h1>

<%= simple_form_for @day do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>
      <ul>
        <% @day.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :week, as: :integer %>
  </div>

  <div class="field">
    <%= f.input :date, as: :datetime %>
  </div>

  <div class="field">
    <%= f.input :notes, as: :text %>
  </div>

  <div class="actions">
    <h2><%= f.button :submit, "New Day :)" %></h2>
  </div>
<% end %>
