<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @day.week %>
</p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @day.notes %>
</p>

<!-- Feeding -->
<hr/>
<h3><%= link_to "Add A Feeding", new_day_feeding_path(day_id: @day.id) %></h3>

<p><%= @day.feedings.count %> feedings today</p>
<hr/>
  <% @day.feedings.each do |feeding| %>
    <p>Day: <%= feeding.day_id %></p>
    <p>Feeding time: <%= feeding.feeding_time %></p>
    <p>Left: <%= feeding.left %></p>
    <p>Right: <%= feeding.right %></p>
    <p>minutes: <%= feeding.minutes %></p>
    <p>type: <%= feeding.feeding_type %></p>
    <p>amount: <%= feeding.feeding_amount %></p>
    <p>notes: <%= feeding.notes %></p>
    <hr/>
  <% end %>
  <hr/>
<!-- End Feeding -->

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
