<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @day.week %>
</p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @day.notes %>
</p>

<!-- Feeding -->
<hr/>
<h3><%= link_to "Add A Feeding", new_day_feeding_path(day_id: @day.id) %></h3>

<p>Feeding count for today: <%= @day.feedings.count %></p>

  <% @day.feedings.each do |feeding| %>
    <p><%= feeding.inspect %></p>
    <p><%= feeding.day_id %></p>
    <p><%= feeding.feeding_time %></p>
    <p><%= feeding.left %></p>
    <p><%= feeding.right %></p>
    <p><%= feeding.minutes %></p>
    <p><%= feeding.feeding_type %></p>
    <p><%= feeding.feeding_amount %></p>
    <p><%= feeding.notes %></p>
  <% end %>
  <hr/>
<!-- End Feeding -->

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
